<!DOCTYPE html>
<html>
	<head>
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	  <title>El recetario de Pepé</title>
	</head>
	<body>
        <h1>El recetario de Pepé</h1>
        <p>Las mejores recetas para el día a día. Sabrosas, ecnonómicas y cntundentes</p>
        
        <hr>
        
        <h2>¿Qué cocinamos hoy?</h2>
        <p>Ensalada César:</p>
        
        <a href="https://es.wikipedia.org/wiki/Ensalada_C%C3%A9sar" target="_blank"><img src="imagenes/cesar.jpg" alt="Ensalda Cesar" width="30%"></a>
        
        <p>Solomillo de cerdo al Roquerfort: </p>
        <a href="solomillos.html"><img src="imagenes/solomillos.jpg" alt="Solomillos" width="30%"></a>
        
        
	</body>
</html>